.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background: transparent;
  border: none;

  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%), linear-gradient(0deg, #ffffff, #ffffff);
    }
  }

  &-left {
    right: 94%;
    padding: 20px 20px 20px 47px;

    @media (max-width: ($vp-768 - 1)) {
      padding: 22px 14px;
    }
  }

  &-right {
    left: 94%;
    padding: 20px 47px 20px 20px;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 22px 14px;
  }
}

.btn-white {
  padding: 18px;
  color: $color-default-white;
  outline: 4px solid $color-default-white;
}

.btn-blue {
  padding: 23px 27px;
  color: $color-sapphire;
  outline: 4px solid $color-sapphire;
}
