.footer {
  width: 100%;
  background-color: $color-black-russian;
  color: $color-default-white;
}

.footer__wrapper {
  padding: 41px 103px 44px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: ($vp-1200 - 1)) {
    padding: 45px 40px;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 50px 15px;
    flex-direction: column;
    align-items: baseline;
  }

  h1 {
    font-family: $ff-bebasneue;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0 20px 0 0;

    @media (max-width: ($vp-1200 - 1)) {
      font-size: 24px;
      line-height: 24px;
    }

    @media (max-width: ($vp-768 - 1)) {
      align-items: baseline;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;

    @media (max-width: ($vp-768 - 1)) {
      display: grid;
    }
  }
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  gap: 40px;
  margin: 0 20px;

  @media (max-width: ($vp-1200 - 1)) {
    gap: 30px;
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    position: relative;
    bottom: 28px;
    row-gap: 16px;
    column-gap: 75px;
  }
}

.footer__item {
  a {
    color: $color-default-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;

    @media (max-width: ($vp-768 - 1)) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  @media (max-width: ($vp-768 - 1)) {
    &:first-of-type {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    &:nth-of-type(10n + 2) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &:nth-of-type(10n + 3) {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }

    &:nth-of-type(10n + 4) {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    &:last-of-type {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }
  }
}

.footer__socials {
  margin: 0;

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: repeat(3, auto);
  }
}

.footer__social {
  margin-left: 11px;
}
