.header {
  color: $color-default-white;
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
}

.header__wrapper {
  padding: 30px 103px 46px;
}

.header__contacts {
  list-style-type: none;
  font-family: $ff-bebasneue;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em;

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header__contact {
  a {
    color: $color-default-white;
  }

  span {
    letter-spacing: 1px;
  }
}

.header__intro {
  display: grid;
  grid-template-columns: 397px 508px 128px;
  justify-content: space-between;

  button {
    grid-column: -1 / 1;
    grid-row: 3 / 4;
  
    justify-self: end;
  }

  img {
    grid-column: 2 / 3;
    grid-row: 1 / -1;

    position: relative;
    bottom: 5px;
  }
}

.header__block {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 125px 275px 60px;
  justify-content: end;
  align-content: center;

  p {
    font-family: $ff-bebasneue;
    font-size: 49px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.03em;
    text-align: end;
    align-self: end;

    grid-column: -1 / -2;
    grid-row: 1 / 2;
    margin: 0 0 10px 0;
  }

  h1 {
    font-family: $ff-bebasneue;
    font-size: 109px;
    line-height: 109px;
    letter-spacing: 0.03em;
    text-align: end;

    grid-column: -1 / 1;
    grid-row: 2 / 3;
    margin: 0;
  }

  img {
    position: relative;
    bottom: 5px;
  }

  button {
    width: 230px;
  }
}

.header__socials {
  grid-column: 3 / 4;
  display: grid;
  gap: 9px;

  list-style-type: none;
  padding: 0;
  margin: 0 0 43px 0;
  justify-self: end;
  align-self: end;
}

.header__links {
  list-style-type: none;
  letter-spacing: -1px;
  padding: 0;
  margin: 40px 0 0 0;
  text-align: end;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: end;
  align-self: center;
}

.header__link {
  a {
    color: $color-default-white;
  }
}
