.header {
  color: $color-default-white;
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
}

.header__wrapper {
  padding: 30px 103px 46px;

  @media (max-width: ($vp-1200 - 1)) {
    padding: 40px 45px 77px 45px;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 20px 15px 82px;
  }
}

.header__contacts {
  list-style-type: none;
  font-family: $ff-bebasneue;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @media (max-width: ($vp-1200 - 1)) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 23px;
  }

  @media (max-width: ($vp-768 - 1)) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
  }
}

.header__contact {
  a {
    color: $color-default-white;
  }

  span {
    letter-spacing: 1px;
  }
}

.header__intro {
  display: grid;
  grid-template-columns: 397px auto auto;
  justify-content: stretch;

  @media (max-width: ($vp-1200 - 1)) {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: 1fr;
  }

  a {
    grid-column: -1 / 1;
    grid-row: 3 / 4;
    justify-self: end;
  }

  img {
    aspect-ratio: 500 / 556;
    max-width: 500px;
    max-height: 556px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    position: relative;
    bottom: 5px;
    margin-left: 63px;

    @media (max-width: ($vp-1200 - 1)) {
      aspect-ratio: 324 / 390;
      max-width: 324px;
      max-height: 390px;
      margin: 0;
    }

    @media (max-width: ($vp-768 - 1)) {
      display: none;
    }
  }
}

.header__block {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 125px 275px 60px;
  justify-content: end;
  align-content: center;

  @media (max-width: ($vp-1200 - 1)) {
    grid-template-rows: 55px 216px 52px;
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-template-rows: 85px 205px 56px;
    justify-self: center;
  }

  p {
    font-family: $ff-bebasneue;
    font-size: 49px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.03em;
    text-align: end;
    align-self: end;
    grid-column: -1 / -2;
    grid-row: 1 / 2;
    margin: 0 0 10px 0;

    @media (max-width: ($vp-1200 - 1)) {
      font-size: 34px;
      line-height: 41px;
      margin: 0;
    }

    @media (max-width: ($vp-768 - 1)) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  h1 {
    font-family: $ff-bebasneue;
    font-size: 109px;
    line-height: 109px;
    letter-spacing: 0.03em;
    text-align: end;
    grid-column: -1 / 1;
    grid-row: 2 / 3;
    margin: 0;

    @media (max-width: ($vp-1200 - 1)) {
      font-size: 92px;
      line-height: 86px;
      letter-spacing: 0;
    }

    @media (max-width: ($vp-768 - 1)) {
      font-size: 84px;
      line-height: 78px;
    }
  }

  a {
    width: 230px;

    @media (max-width: ($vp-1200 - 1)) {
      width: 183px;
    }

    @media (max-width: ($vp-768 - 1)) {
      width: 100%;
    }
  }
}

.header__socials {
  grid-column: 3 / 4;
  display: grid;
  gap: 9px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 43px 0;
  justify-self: end;
  align-self: end;

  @media (max-width: ($vp-1200 - 1)) {
    display: none;
  }
}

.header__links {
  list-style-type: none;
  letter-spacing: -1px;
  padding: 0;
  margin: 40px 0 0 0;
  text-align: end;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: end;
  align-self: center;

  @media (max-width: ($vp-1200 - 1)) {
    margin: 32px 0 0;
  }

  @media (max-width: ($vp-768 - 1)) {
    margin: 27px 0 0;
  }
}

.header__link {
  a {
    color: $color-default-white;
  }

  @media (max-width: ($vp-1024 - 1)) {
    font-size: 15px;
  }

  @media (max-width: ($vp-768 - 1)) {
    font-size: 13px;
  }
}
