.main-coaches {
  color: $color-ghost-white;
}

.main-coaches__wrapper {
  padding: 60px 103px 120px;
  position: relative;

  @media (max-width: ($vp-1200 - 1)) {
    padding: 50px 101px 100px;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 35px 15px 71px;
  }

  h1 {
    margin: -3px 0 0 2px;
  }

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 47%;

    // background-color: $color-default-white;
    // height: 282px;
    // width: 30px;
    // top: 40px;
    // z-index: 10;

    @media (max-width: ($vp-1200 - 1)) {
      top: 29%;

      &:first-of-type {
        left: 0%;
      }

      &:last-of-type {
        left: 90%;
      }
    }

    @media (max-width: ($vp-768 - 1)) {
      top: 46%;

      &:first-of-type {
        left: 0%;
      }

      &:last-of-type {
        left: 84%;
      }
    }
  }
}

.main-coaches__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 53px 0 0;
  padding: 0;

  @media (max-width: ($vp-1200 - 1)) {
    margin: 42px 0 0;
  }

  @media (max-width: ($vp-768 - 1)) {
    justify-content: center;
  }
}

.main-coaches__item {
  aspect-ratio: 260 / 294;
  width: 260px;
  height: auto;
  padding: 57px 45px 51px;
  position: relative;
  overflow: hidden;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: ($vp-1200 - 1)) {
    aspect-ratio: 268 / 294;
    width: 268px;
  }

  @media (max-width: ($vp-768 - 1)) {
    aspect-ratio: 226 / 274;
    width: 226px;
    padding: 48px 25px 48px 25px;
  }

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &:hover,
  &:focus-within {
    background-color: rgba(16, 38, 84, 0.89);
  }

  &:hover h2,
  &:focus-within h2 {
    transform: none;
    position: relative;
    top: 5px;
  }

  &:hover .main-coaches__info,
  &:focus-within .main-coaches__info {
    opacity: 1;
    transform: none;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 5px;
    letter-spacing: 0;
    margin: 0;
    z-index: 1;
    transform: translateY(198px);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}

.main-coaches__info {
  padding: 0;
  margin: 0;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.3s, 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(386px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: space-between;
  overflow-y: auto;

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    margin: 12px 0 0 0;
  }

  ul {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;

    display: grid;
    gap: 13px;
    margin-top: 33px;
    padding-left: 23px;
    list-style-type: disc;
  }
}
