.main-feedback__wrapper {
  width: 100%;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: ($vp-1200 - 1)) {
    margin-top: 42px;
    grid-template-columns: 1fr;
  }

  h2 {
    font-family: $ff-bebasneue;
    font-size: 49px;
    line-height: 64px;
    letter-spacing: 0.03em;
    margin: -8px 0 0 0;

    @media (max-width: ($vp-1200 - 1)) {
      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: ($vp-768 - 1)) {
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.main-feedback__form {
  background-color: $color-sapphire;
  color: $color-default-white;
  padding: 70px 170px 50px 103px;

  @media (max-width: ($vp-1200 - 1)) {
    padding: 75px 165px 70px 135px;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 77px 15px 65px;
  }

  input {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    background: transparent;
    border: none;
    color: $color-default-white;
  }

  h2 {
    @media (max-width: ($vp-768 - 1)) {
      margin-bottom: 24px;
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 27px;
    row-gap: 30px;

    @media (max-width: ($vp-1200 - 1)) {
      column-gap: 58px;
    }

    @media (max-width: ($vp-768 - 1)) {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    padding: 10px 10px 3px 0;
    margin: 23px 0 -5px;
    border-bottom: 1px solid $color-default-white;

    @media (max-width: ($vp-768 - 1)) {
      margin: 0 0 -5px;
    }
  }

  button {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.05em;
    background: transparent;
    border: none;
    grid-column: 1 / 3;
    margin-top: 5px;

    @media (max-width: ($vp-768 - 1)) {
      margin: 10px 0 0 0;
    }
  }
}

.main-feedback__data {
  background-color: $color-default-white;
  color: $color-sapphire;
  padding: 70px 120px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 33px;
  column-gap: 65px;

  @media (max-width: ($vp-1200 - 1)) {
    padding: 76px 134px 50px 130px;
    column-gap: 40px;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 77px 15px 38px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    grid-column: 1 / 3;
  }
}

.main-feedback__list,
.main-feedback__contacts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 3px;

  h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;

    @media (max-width: ($vp-1200 - 1)) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  p,
  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    color: $color-sapphire;

    @media (max-width: ($vp-1200 - 1)) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.main-feedback__contacts {
  justify-content: center;

  @media (max-width: ($vp-768 - 1)) {
    justify-content: flex-start ;
    position: relative;
    bottom: 27px;
    gap: 26px;
  }
}

.main-feedback__item,
.main-feedback__contact {
  h3 {
    margin: 0;
  }

  p,
  a {
    margin-top: 4px;
  }
}
