.main-review__wrapper {
  padding: 60px calc(50vw - 178px) 60px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: ($vp-1200 - 1)) {
    padding: 53px 103px 60px;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 40px 15px 25px;
  }

  h1 {
    margin: -3px 0 52px;
    text-align: center;

    @media (max-width: ($vp-1200 - 1)) {
      margin-bottom: 41px;
    }
  }

  button {
    background: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 53%;

    @media (max-width: ($vp-1200 - 1)) {
      top: 50%;
    }

    &:first-of-type {
      left: 22%;

      @media (max-width: ($vp-1200 - 1)) {
        left: 0;
      }
    }

    &:last-of-type {
      left: 72%;

      @media (max-width: ($vp-1200 - 1)) {
        left: 90%;
      }
    }
  }
}

.main-review__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-review__item {
  width: 563px;
  color: $color-default-white;
  background-color: $color-resolution-blue;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 28px;
  padding: 62px 60px 58px;
  overflow: hidden;

  @media (max-width: ($vp-768 - 1)) {
    width: 226px;
    grid-template-columns: 68px 1fr;
    padding: 40px 26px;
    justify-content: center;
    column-gap: 30px;
    row-gap: 17px;
    align-items: center;
  }

  img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    @media (max-width: ($vp-768 - 1)) {
      line-height: 26px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    margin: 35px 0 0 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    @media (max-width: ($vp-768 - 1)) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      text-align: center;
      margin: 0;
    }
  }
}
