.plans {
  display: grid;
  grid-template-columns: 1160px;
  justify-content: center;
  justify-items: center;
  padding-block: 116px calc(120px + var(--next-block-size, 0)) 120px;
  --background: var(--bg);

  background: {
    color: #f8f9fc;
    image: var(--background),
      linear-gradient(to top, var(--next-block-color) var(--next-block-size, 0), #f8f9fc var(--next-block-size, 0));
    size: 490px auto, 100%;
    repeat: no-repeat;
    position: right -130px bottom, center bottom;
  }

  @media (min-resolution: 2dppx) {
    --background: var(--bg2);
  }

  @media (max-width: ($vp-768 - 1)) {
    background-image: none;
  }
}

.plans__title {
  line-height: 1;
  margin-block: 116px (53px - 31px);

  
  @media (max-width: ($vp-1200 - 1)) {
    margin-block: 99px (53px - 38px);
  }

  @media (max-width: ($vp-768 - 1)) {
    margin-block: 69px (53px - 38px);
  }
}

.plans__nav {
  display: flex;
  gap: 46px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: hsl(221deg 68% 20% / 50%);
  font-size: 20px;
  line-height: 1.5;
  border-bottom: 2px solid hsl(0deg 0% 47% / 20%);

  a {
    display: block;
    color: inherit;
    padding-block: 0.6em;

    &[aria-selected="true"],
    &:hover {
      color: hsl(221deg 68% 20%);
      text-decoration: hsl(343deg 91% 43%) underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 1em;
    }

    &:focus-visible {
      color: hsl(221deg 68% 20%);
    }

    @media (max-width: ($vp-768 - 1)) {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
    }
  }
}

.plans__list {
  display: grid;
  gap: 40px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  background-position: bottom right;
  margin-top: 38px;
  margin-bottom: 119px;

  @media (max-width: ($vp-1200 - 1)) {
    grid-template-columns: 1fr;
    width: 38%;
    margin-bottom: 173px;
  }

  @media (max-width: ($vp-768 - 1)) {
    width: 25%;
    margin-bottom: 58px;
  }

  &[hidden] {
    display: none;
  }
}
