.video {
  position: absolute;
  top: 54%;
  right: 34%;
  width: 364px;
  height: 228px;
  background-color: $color-default-black;

  @media (max-width: ($vp-1200 - 1)) {
    top: 69%;
    right: 33%;
    width: 266px;
    height: 167px;
  }

  @media (max-width: ($vp-768 - 1)) {
    position: sticky;
    width: 100%;
    min-height: 167px;
  }

  &:hover .video__button,
  &:focus .video__button {
    opacity: 0.8;
  }
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: none;
  padding: 0;
  transform: translate(-50%, -50%);
  outline: none;

  background: url("../../img/svg/icon-play.svg");
  cursor: pointer;

  @media (max-width: ($vp-768 - 1)) {
    top: 40%;
    left: 45%;
    scale: 0.68;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &[hidden] {
    display: none;
  }
}
