- const ADVANTAGES =[{ value: '900', small: 'кв/м', header: 'Площадь', text: 'Занимайтесь без очередей и толпучки' },{ value: '350', small: 'мест', header: 'Комфорт', text: 'Просторные раздевалки, душевые, фен, Wi-Fi, кулеры' },{ value: '100', small: '', header: 'Тренажеров', text: 'Современные тренажеры на все группы мышц' },{ value: '70', small: 'машин', header: 'Собственная парковка', text: 'Вы всегда найдете место для своей машины на нашей парковке' },{ value: '5+', small: 'лет', header: 'Тренерский опыт', text: 'Добивайтесь своих целей быстрее с профессиональным тренером' },]

section.main-advantages
  .main-advantages__wrapper
    h1.section-heading Наши преимущества
    ul.main-advantages__list
      each advantage in ADVANTAGES
        li.main-advantages__item
          h2=advantage.value
          small=advantage.small
          p=advantage.header
          span=advantage.text
